version: '3.8'

services:
  api:
    build: .
    container_name: secure_rag_api
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=dev
      - VECTOR_DB_URL=http://qdrant:6333
    depends_on:
      - qdrant
    networks:
      - rag_net
    volumes:
      - ./app:/app/app

  qdrant:
    image: qdrant/qdrant:latest
    container_name: secure_rag_vectordb
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - rag_net

networks:
  rag_net:
    driver: bridge

volumes:
  qdrant_data:
